body{
    font-family: 'Oswald', sans-serif;
    margin: 0px;
}
.half-width{
    float: left;
    padding-left: 2%;
    margin-left: 5%;
    width: 40%;
}
section{
    height: 400px;
    width: 100%;
    margin-bottom: 150px;
    
}
.name-highlight{
    color: blue;
    font-size: 60px;
}
h2{
    font-size: 60px;
    
}
.half-width img {
    width: 80%;
}
.link-button {
    text-decoration: none;
    border: 2px solid;
    border-color: blue;
    color: rgb(3, 3, 3);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700px;
    font-size: 18px;
    margin-bottom: 20px;
    
    
}
p {
    padding-bottom: 20px;
    padding-right: 30%;
}
.about-me {
    font-size: 50px;
    color: blue;
}
.work-inquiry {
    float: left;
    width: 40%;
    position: center;
    padding-bottom: 10%;
    text-align: center;
    padding-right: 20%;
    padding-top: 5%;
    color: white;
}
.color-section {
    width:1240px;
    padding-left: 2%;
    margin-left: 15%;   
    background-image: url("images/shape-fast.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    
}
.button-go {
    padding-top: 12%;
    padding-left: 5%;
}
h1 {
    font-size: 60px;
}
.new-button {
    text-decoration: none;
    border: 2px solid;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 15px 30px ;
    border-radius: 5px;
    font-weight: 700px;
    font-size: 18px;
    margin-right: 15%;
}
section color-section {
    height: 100px;
}
.name {
    text-align: center;
}
.left-image {
    float: left;
    padding-left: 2%;
    margin-left: 5%;
    width: 15%;
    box-shadow: greenyellow;
    
}
.left-image img {
    width: 100%;
    padding-left: 70%;
    
   
}
.about-section {
    padding-bottom: 200px;
}
h3 {
    font-size: 25px;
    margin-right: 50%;
    text-align: right;
    
}
.image-area {
    background-color: #F8F9FC;
    padding-top: 50px;
    padding-bottom: 200px;
}
.text-section {
   text-align: center;
   width: 100%;
   padding-left: 50%;
}
h4 {
    text-align: center;
}
#footer-section {
    text-align: center;
    padding-left: 42%;
}
#next {
    text-align: center;
    padding-left: 40%;
}
